.accommodation__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;

  gap: 2vw;
}

.accommodation__content {
  align-self: center;
  @include flex(column, flex-start, flex-start);
  gap: 15px;
  padding: 10px 20px 0 20px;

  .description {
    li:first-child {
      margin-top: 10px;
    }

    li:not(:last-child) {
      padding-bottom: 0.625rem;
    }

    li:before {
      content: "– ";
      padding-right: 5px;
    }
  }

  .accommodation__price,
  .accommodation__price--big-house {
    margin-top: 20px;

    p {
      line-height: 22px;
    }

    span {
      font-size: $font-size-body-18;
    }
  }

  .accommodation__price {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 50px;
    }
  }

  .accommodation__note {
    margin-top: 20px;
    font-size: $font-size-body-18;
    color: $orange-color;
  }

  .book {
    margin-top: $after-text-margin;
    width: 100%;
    @include flex(row, flex-start, flex-start);

    .book__btn {
      width: 100%;
      background-color: $khaki-color;
      color: $white-color;
    }
  }
}

@media screen and (orientation: portrait) and (max-width: $gallery-adaptive-max-width) {
  .accommodation__item {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

@media screen and (max-width: $mobile-max-width) {
  .accommodation__item {
    gap: 35px;

    h4 {
      margin: 0;
    }
  }

  .accommodation__content {
    padding: 0;
  }
}
