.greet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: $beige-color;
  line-height: $greet-text-font-size;
  background-color: $beige-color;
  background: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &::before {
    content: none;
  }

  .container {
    @include flex(column, center, center);
    padding: 30px;
    margin: 0 auto;
    background-color: rgba($color: $dark-grey-color, $alpha: 0.6);
    transform: translateY(30%);
  }

  .greet__logo {
    @include size(256px, 90px);
    margin-bottom: 50px;
  }

  .greet__title {
    margin-bottom: 40px;
    font-size: $greet-title-font-size;
  }

  .greet__text {
    font-size: $greet-text-font-size;
    line-height: $greet-text-font-size;
  }

  .text-typing {
    p {
      display: inline-block;
      text-wrap: nowrap;
      overflow: hidden;
      width: 0;
      animation: typing;
      animation-duration: 3s;
      animation-timing-function: steps(30, end);
      animation-fill-mode: forwards;
      color: $orange-color;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#block-search,
#block-search * {
  box-sizing: border-box;
}

#block-search {
  background: #ffffffd9;
}

#block-search.block-search-mobile {
  background: #faf8f0;
}

.tl-container {
  max-width: 1728px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: $tablet-max-width) {
  .greet {
    line-height: $greet-text-font-size-tablet;

    .greet__title {
      font-size: $greet-title-font-size-tablet;
    }

    .greet__text {
      font-size: $greet-text-font-size-tablet;
    }

    .container {
      padding: 30px 15px;
    }
  }
}

@media screen and (orientation: portrait) and (max-width: 767px) {
  .greet {
    line-height: $greet-text-font-size-mobile;
    background: url("/images/background-mobile.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0 50px;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .greet {
    line-height: $greet-text-font-size-mobile;

    .greet__logo {
      @include size(180px, auto);

      margin-bottom: 20px;
    }

    .greet__title {
      margin-bottom: $after-text-margin-mobile;
      font-size: $greet-title-font-size-mobile;
      line-height: 45px;
      margin-bottom: 0;
    }

    .greet__text {
      font-size: $greet-text-font-size-mobile;
      line-height: 30px;
    }

    .container {
      padding: 30px 0;
      transform: translateY(50%);
    }

    .text-typing {
      p {
        padding: 10px;
        text-wrap: wrap;
        width: 100%;
        animation: none;
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  .greet {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    height: fit-content;

    .greet__logo {
      display: none;
    }

    .container {
      margin-top: 60px;
      padding: 25px 0;
      width: 100%;
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 415px) {
  .greet {
    .container {
      height: 100vh;
      transform: translateY(0);
    }
  }
}
