.greet {
  @include flex(column, center, center);
  height: 100vh;

  text-align: center;
  color: $beige-color;
  line-height: $greet-line-height;
  width: 100%;
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &::before {
    content: none;
  }

  .container {
    @include flex(column, center, center);
    padding: 30px 40px;
    background-color: rgba($color: $dark-grey-color, $alpha: 0.6);
    transform: translateY(-20%);
  }

  .greet__logo {
    @include size(256px, 90px);

    margin-bottom: 50px;
  }

  .greet__title {
    margin-bottom: 40px;

    font-size: 100px;
  }

  .greet__text {
    font-size: 40px;
  }

  .text-typing {
    p {
      display: inline-block;
      text-wrap: nowrap;
      overflow: hidden;
      width: 0;
      animation: typing;
      animation-duration: 2s;
      animation-timing-function: steps(30, end);
      animation-fill-mode: forwards;
      color: $orange-color;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .greet {
    .greet__logo {
      @include size(200px, auto);

      margin-bottom: 30px;
    }

    .greet__title {
      margin-bottom: 0;

      font-size: $greet-title-font-size;
    }

    .greet__text {
      font-size: 15px;
      line-height: $after-text-margin;
    }
  }
}
