.activity__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &:nth-child(odd) {
    .galery {
      order: 10;
      justify-self: end;
    }
  }

  &:nth-child(even) {
    .galery {
      justify-self: start;
    }
  }

  .content {
    padding: 20px;

    h4 {
      margin-bottom: $after-text-margin;
    }

    p {
      font-size: $font-size-body-18;
    }
  }

  .galery {
    @include size(30vw, 30vw);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    img {
      @include img(100%, 100%);
    }
  }
}

// @media screen and (max-width: $mobile-max-width) {
//   .activity__item {
//     width: 80%;

//     .content {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       width: 90%;
//       padding: 20px;
//       transform: translate(-50%, -50%);

//       color: $beige-color;

//       background-color: rgba($color: $dark-grey-color, $alpha: 0.6);

//       border: none;
//     }

//     .galery {
//       img {
//         filter: blur(2px);
//         border-radius: 0;
//       }
//     }
//   }
// }
