.reviews {
  background-color: $beige-color;
  text-align: justify;
}

@media screen and (max-width: $mobile-max-width) {
  .reviews {
    padding-bottom: 80px;
  }

  .reviews__title {
    margin-bottom: 20px;
  }
}
