.subnav__container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 100vw;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  background-color: $khaki-color;
}

.subnav {
  @include flex(row, flex-start, center);
  flex-wrap: wrap;
  gap: 10%;

  width: 68%;
  height: 80px;
  margin: 0 auto;
  //padding: 0 calc(128px + 2.5rem);
}
