.subnav__container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 80px;
  max-height: calc(100vh - 80px);
  overflow: hidden;
  z-index: 100;
  background-color: $khaki-color;
}

.subnav {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  gap: 10px;

  width: 85%;
  height: 80px;
  margin: 0 auto;
  padding: 0 150px 0 160px;
}
