.services {
  background: #fff;

  .wrap {
    @include flex(column, space-between, center);
  }

  .services__title {
    margin-bottom: 2.1875rem;
  }

  .services__text {
    margin-bottom: 30px;

    color: #8a9c76;
  }

  .book__btn {
    @include size(200px, 50px);
  }
}
