.services {
  background: #fff;

  * {
    font-weight: $light-font-weight;
  }

  wrap {
    @include flex(column, space-between, center);
    padding: 100px 0;
  }

  .services__title {
    margin-bottom: 2.1875rem;

    font-size: $title-font-size;
    line-height: $title-font-size;
  }

  .services__text {
    margin-bottom: 30px;

    color: #8a9c76;
  }

  .book__btn {
    @include size(200px, 50px);
  }
}
