.rules {
  background-color: $beige-color;

  * {
    //font-size: $text-font-size;
    line-height: $text-line-height;
    font-weight: $light-font-weight;
  }

  .rules__title {
    //font-size: $title-font-size;
    //line-height: $title-font-size;
  }
}
