.galery {
  @include size(45vw, 30vw);
  padding: 15px;
  overflow: hidden;
  .slider-container {
    @include size(100%, 100%);

    * {
      margin: 0;
      padding: 0;
    }

    .slick-slider {
      position: relative;
      @include size(100%, 100%);
      overflow: hidden;
    }

    .slick-slider div {
      @include size(100%, 100%);
    }

    img {
      @include img(100%, 100%);
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      width: 45px;
      height: 45px;
      z-index: 10;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 45px;
        height: 45px;
        background-color: $beige-color;
        border-radius: 50%;
        opacity: 10;
        background-image: url("/icons/next.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 25px 30px;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::before {
          background-color: rgba($color: $beige-color, $alpha: 0.6);
        }
      }
    }

    button.slick-arrow.slick-prev {
      left: 2%;

      &::before {
        transform: rotate(180deg);
      }
    }

    button.slick-arrow.slick-next {
      right: 2%;
    }
  }
}

@media screen and (max-width: $gallery-adaptive-max-width) {
  .galery {
    @include size(90vw, 55vh);
  }
}

@media screen and (max-width: $mobile-max-width) {
  .galery {
    @include size(90vw, 50vh);
    padding: 10px;
    padding-top: 15px;

    .slider-container {
      .slick-arrow {
        width: 35px;
        height: 35px;

        &::before {
          width: 35px;
          height: 35px;
          background-size: 20px 25px;
        }
      }
    }
  }
}
