.extras {
  * {
    font-size: $text-font-size;
    line-height: $text-line-height;
    font-weight: $light-font-weight;
  }

  .extras__title {
    font-size: $title-font-size;
    line-height: $title-font-size;
  }
}
