.activities {
  margin-top: 70px;
  background: $beige-color;

  .wrap {
    @include flex(column, space-between, center);
    padding: 50px 0;
  }

  .activities__title {
    margin-bottom: $after-text-margin;
  }

  .activities__description {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: $font-size-title-mobile;
    line-height: 24px;
  }

  .activities__list {
    @include flex(column, center, center);
    gap: 10px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .activities {
    margin-top: 50px;
    padding-top: 40px;

    &::before {
      top: 40px;
    }

    .activities__title {
      margin-bottom: $after-text-margin-mobile;
    }

    .activities__description {
      width: 90%;
      font-size: $font-size-body-18;
      line-height: 21px;
    }

    .activities__list {
      width: 100%;
      gap: 40px;
    }
  }
}
