.activities {
  margin-top: 70px;
  background: $beige-color;

  .wrap {
    @include flex(column, space-between, center);
  }

  .activities__title {
    margin-bottom: $after-text-margin;
  }

  .activities__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: $font-size-title-mobile;
    line-height: 24px;

    span {
      display: block;
      font: inherit;
    }
  }

  .activities__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: $gallery-adaptive-max-width) {
  .activities {
    .activities__list {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .activities {
    margin-top: 60px;

    .activities__list {
      gap: 24px;
    }

    .activities__title {
      margin-bottom: $after-text-margin-mobile;
    }

    .activities__description {
      width: 90%;
      font-size: $font-size-body-18;
      line-height: 21px;
    }
  }
}
