.accordion-header {
  font-size: $font-size-body-18;
}

.surrounding-item.accordion-item {
  text-align: justify;
  .plus-icon {
    top: 25px;
  }

  span {
    display: block;
    margin-top: $after-text-margin-mobile;
    color: $orange-color;
  }
}

.surrounding-item__content {
  p {
    padding-bottom: 10px;
  }
}
