.accommodation__item {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: stretch;

  gap: 2vw;
}

.accommodation__galery {
  @include size(100%, 400px);

  img {
    @include img(100%, 100%);

    object-position: 0 40%;
  }
}

.accommodation__content {
  @include flex(column, flex-start, flex-start);

  gap: 0.625rem;

  .description {
    li:not(:last-child) {
      padding-bottom: 0.625rem;
    }

    li:before {
      content: "– ";
      padding-right: 5px;
    }
  }

  .accommodation__price {
    padding: 8px 0 0 15px;

    span {
      font-weight: bolder;
      font-size: calc($text-font-size + 1px);
    }
  }

  .book {
    width: 100%;
    @include flex(row, flex-start, flex-start);

    .book__btn {
      width: 100%;
      background-color: $khaki-color;

      color: $white-color;
    }
  }
}
