.accommodation__item {
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  gap: 2.5rem;
}

.accommodation__galery {
  @include size(100%, 450px);

  img {
    @include img(100%, 100%);

    object-position: 0 40%;
  }
}

.accommodation__content {
  @include flex(column, flex-start, flex-start);

  gap: $after-text-margin;

  h4 {
    font-size: $title-font-size;
    line-height: $title-font-size;
  }

  .description {
    li:not(:last-child) {
      padding-bottom: 0.625rem;
    }

    li:before {
      content: "– ";
      padding-right: 5px;
    }
  }

  .accommodation__price {
    padding: 8px 0 0 15px;

    span {
      font-weight: bolder;
      font-size: 1.1rem;
    }
  }

  .book {
    width: 100%;
    @include flex(row, flex-start, flex-start);

    .book__btn {
      width: 100%;
      background-color: $khaki-color;

      color: $white-color;
    }
  }
}
