.accordion-item {
  width: 100%;
  position: relative;

  button {
    font-size: 18px;
    text-align: left;
    font-weight: bolder;
  }
}

.accordion-header {
  padding: 15px;
  width: 100%;

  box-shadow: rgba($color: $dark-grey-color, $alpha: 0.2) 0px 2px 8px;
}

.plus-icon {
  position: absolute;
  top: calc(25px / 2);
  right: 20px;
  display: block;
  @include size(20px, 20px);

  transition: all 0.4s;
}

.plus-icon.active {
  transform: rotate(45deg);
}

.accordion-body {
  padding: 30px 15px 20px 15px;
}

.accordion-collapse {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.accordion-collapse.open {
  height: auto;
}

.extras-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  p {
    margin-bottom: $after-text-margin;
  }

  span {
    margin-right: 50px;

    white-space: nowrap;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .extras-item {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;

    p {
      margin-bottom: $after-text-margin;
    }

    span {
      margin-right: 0;
      justify-self: end;
    }
  }
}
