.services__list {
  @include flex(row, space-between, center);

  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: $mobile-max-width) {
  .services__list {
    @include flex(column, space-between, center);
    gap: $after-text-margin-mobile;

    width: 100%;
  }
}
