.conditions {
  background-color: $beige-color;

  * {
    font-size: $text-font-size;
    line-height: $text-line-height;
    font-weight: $light-font-weight;
  }

  .conditions__title {
    font-size: $title-font-size;
    line-height: $title-font-size;
    text-align: left;
  }

  h3 {
    margin-bottom: 30px;

    color: #8a9c76;
  }
}
