.conditions {
  background-color: $beige-color;

  .conditions__title {
    text-align: left;
  }

  h3 {
    margin-bottom: $after-text-margin;

    font-size: $text-font-size;
    color: #8a9c76;
  }
}
