.header {
  position: fixed;

  @include flex(row, space-between, center);
  @include size(100%, 80px);
  padding: 0 1.5rem 0 1.5rem;

  color: $white-color;
  font-size: $text-font-size;

  background-color: $khaki-color;

  z-index: 1;
}

.header.active {
  .subnav__container {
    opacity: 1;
    visibility: visible;
  }
}
