.header {
  position: fixed;
  left: 0;
  top: 0;

  @include flex(row, space-between, center);
  @include size(100%, 70px);
  @include padding(0, 20px);

  color: $white-color;

  background-color: $khaki-color;

  z-index: 1;
}

.header.active {
  .subnav__container {
    opacity: 1;
    visibility: visible;
  }
}
