.contacts {
  @include flex(row, space-between, center);
  gap: 2px;

  & a {
    display: flex;

    &:hover svg {
      transform: translateY(-1.5px);
    }

    &:hover path {
      fill: #bacda5;
    }
  }

  .instagram {
    padding-right: 4px;
  }
}
