.contacts {
  @include flex(row, space-between, center);
  gap: 5px;

  a {
    &:hover svg {
      transform: translateY(-1.5px);
    }

    &:hover path {
      stroke: $orange-color;
    }
  }

  .tel {
    display: none;
  }
}

.footer {
  .contacts {
    @include flex(row, space-between, center);
    gap: 15px;

    svg {
      width: 45px;
      height: 45px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-nav .contacts {
    justify-content: flex-start;
    gap: 15px;
    padding: 0 15px;
    flex-wrap: wrap;
    gap: 20px;

    a {
      svg {
        width: 45px;
        height: 45px;
      }

      path {
        stroke: $orange-color;
      }
    }

    a:hover path {
      stroke: $beige-color;
    }

    .tel {
      display: block;
      flex-shrink: 0;
      flex-basis: 200px;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .footer {
    .contacts {
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
