.contacts {
  @include flex(row, space-between, center);
  gap: 5px;

  a {
    &:hover svg {
      transform: translateY(-1.5px);
    }

    &:hover path {
      stroke: $orange-color;
    }
  }
}

.footer {
  .contacts {
    @include flex(row, space-between, center);
    gap: 15px;

    svg {
      width: 45px;
      height: 45px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-nav .contacts {
    gap: 15px;
    padding: 0 15px;

    a {
      svg {
        width: 45px;
        height: 45px;
      }

      path {
        stroke: $orange-color;
      }
    }

    a:hover path {
      stroke: $beige-color;
    }
  }
}
