.about {
  background-color: $white-color;
  text-align: justify;

  * {
    font-weight: $light-font-weight;
  }

  .wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  h3 {
    margin-bottom: $after-text-margin;

    color: #8a9c76;
  }
}
