.inventorys {
  background-color: $beige-color;

  .inventorys-title {
    text-align: left;
  }

  .inventorys-text {
    margin-bottom: $after-text-margin;
    color: $orange-color;
    font-size: $font-size-title-mobile;
  }
}
