@import "./abstracts/mixins.scss";
@import "./abstracts/variables.scss";
@import "./reset/reset.scss";

#root {
  font-family: "Montserrat", sans-serif;
  font-weight: $light-font-weight;
  color: $dark-grey-color;
  overflow: hidden;

  * {
    font-weight: inherit;
  }
}

.wrap {
  width: 90%;
  @include margin(0, auto);
  padding: 40px 0;
}

header nav {
  font-size: $font-size-link;
  color: $beige-color;

  a:hover {
    color: $orange-color;
  }
}

h2 {
  margin-bottom: $after-text-margin;

  text-align: center;
  font-size: $font-size-title;
  line-height: $font-size-title;
}

h3,
h4 {
  margin-bottom: $after-text-margin;

  font-size: $font-size-subtitle;
  line-height: $font-size-subtitle;
}

p,
span {
  font-size: $font-size-body-16;
  line-height: $line-height-body;
}

button {
  font-size: $font-size-body-16;
}

section {
  position: relative;

  @include padding(80px, 0);

  &::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);

    @include size(42px, 6px);

    background-color: $orange-color;
  }
}

img {
  @include img(100%, 100%);
}

@media screen and (max-width: 1000px) {
  section {
    @include padding(50px, 0);

    &::before {
      top: 40px;

      @include size(35px, 4px);
    }
  }

  h2 {
    margin-bottom: $after-text-margin-mobile;
  }
}

@media screen and (max-width: 1200px) {
  header nav {
    font-size: $font-size-body-18;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .wrap {
    padding: 20px 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .wrap {
    width: 94%;
  }

  h2 {
    margin-bottom: $after-text-margin-mobile;

    font-size: $font-size-title-mobile;
    line-height: $font-size-title-mobile;
  }

  h3,
  h4 {
    font-size: $font-size-subtitle-mobile;
    line-height: $font-size-subtitle-mobile;
  }

  p,
  span {
    font-size: $font-size-body-16;
    line-height: 21px;
  }

  button {
    font-size: $font-size-body-16;
  }

  section {
    position: relative;

    @include padding(25px, 0);

    &::before {
      top: 22.5px;

      @include size(30px, 3px);
    }
  }
}
