.main-nav {
  width: 50%;

  font-size: 0.75rem;
}

.main-nav__list {
  position: relative;

  @include flex(row, space-between, center);
  gap: 10px;

  height: 100%;

  text-align: center;
}

.main-nav__item {
  &:hover {
    color: #aea48a;
  }
}
