.book,
.details {
  @include flex(row, center, center);
  align-self: center;
}

.book__btn,
.details__btn {
  @include padding(20px, 30px);

  color: $khaki-color;

  background-color: $beige-color;
  border: 1px solid $khaki-color;
  border-radius: 35px;

  &:hover {
    transform: scale(0.95);
    transition: all 0.4s ease;
  }
}

.details__btn {
  @include padding(20px, 50px);
}

@media screen and (max-width: 1199px) {
  .book {
    margin-left: auto;

    order: 1;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .book__btn,
  .details__btn {
    @include padding(15px, 20px);
  }
}
