.surroundings {
  margin-top: 70px;

  background: $beige-color;

  wrap {
    @include flex(column, space-between, center);
    padding: 100px 0;
  }

  .surroundings__title {
    margin-bottom: $after-text-margin;
  }

  .surroundings__description {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: $font-size-title-mobile;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .surroundings {
    margin-top: 50px;

    .surroundings__title {
      margin-bottom: $after-text-margin-mobile;
    }

    .surroundings__description {
      display: block;
      width: 90%;
      margin: 0 auto;
      margin-bottom: $after-text-margin;
      text-align: justify;
    }
  }
}
