.services__item {
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  width: 100%;

  p {
    font-size: $font-size-body-18;
    text-wrap: wrap;
    text-align: center;
  }
}

.services__img {
  @include size(15vw, 15vw);
  border-radius: 50%;
  overflow: hidden;

  img {
    @include img(100%, 100%);
  }
}

@media screen and (max-width: $mobile-max-width) {
  .services__img {
    @include size(25vw, 25vw);
  }
}
