.footer {
  padding: 30px 0;
  background-color: $khaki-color;
  color: $beige-color;
  text-wrap: nowrap;

  .wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    row-gap: 40px;
    padding-bottom: 30px;

    a {
      font-size: $font-size-body-18;
      line-height: 30px;
    }

    .tel-num {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: $font-size-subtitle-mobile;
      transition: all 0.4s ease;

      &:hover {
        color: $orange-color;
      }
    }
  }

  .logo {
    @include size(200px, auto);
    margin-left: 15px;
  }

  .address {
    position: relative;
    grid-column: -1/1;
    grid-row: 2/3;
    margin: 0 auto;
    transition: 0.7s;
    border-bottom: 1px solid transparent;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .enter {
      font: inherit;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -45px;
      transform: translateY(-50%);
      @include size(45px, 45px);

      background-image: url("/icons/geolocation.svg");
      background-repeat: no-repeat;
      background-size: 40px 45px;

      transition: transform 0.7s ease;
    }

    &:hover {
      border-bottom: 1px solid $beige-color;

      &::before {
        transform: translateY(-65%);
      }
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .footer {
    padding: 15px 0;

    .wrap {
      display: flex;
      flex-direction: column;
      gap: 25px;

      a {
        font-size: $font-size-body-16;
        line-height: $font-size-title-mobile;
      }
    }

    .logo {
      @include size(150px, auto);
    }

    .address {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 0;
    }
  }
}
