.footer {
  padding: 30px 0;

  background-color: $khaki-color;

  color: $beige-color;

  .wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    a {
      line-height: 30px;
    }
  }

  .logo {
    @include size(15vw, auto);
  }

  .address {
    position: relative;

    justify-self: end;

    transition: 0.7s;
    border-bottom: 1px solid transparent;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -45px;
      transform: translateY(-50%);
      @include size(45px, 45px);

      background-image: url("/src/assets/images/geolocation.svg");
      background-repeat: no-repeat;
      background-size: 40px 45px;

      transition: transform 0.7s ease;
    }

    &:hover {
      border-bottom: 1px solid $beige-color;

      &::before {
        transform: translateY(-70%);
      }
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .footer {
    padding: 10px 0;

    .wrap {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 15px;
    }

    .logo {
      @include size(25vw, auto);
    }

    .address {
      position: relative;

      margin-left: 5px;
      justify-self: center;
    }
  }
}
