.header__menu-btn {
  display: none;
}

@media screen and (max-width: 1199px) {
  .header__menu-btn {
    position: relative;
    top: 0;
    right: 0;

    display: block;
    margin: 7px 0;
    margin-left: auto;
    padding: 10px;

    background: transparent;

    border: 1px solid transparent;

    &:focus {
      outline-width: 0;
    }

    & span {
      background: $beige-color;
      display: block;
      transform: rotate(0deg);
      transition: 0.2s ease all;

      border-radius: 2px;
      height: 2px;
      width: 25px;
      margin-bottom: 4px;
    }

    .bar-bot {
      margin-bottom: 0;
    }
  }

  .opened .bar-top {
    transform: rotate(45deg);
    transform-origin: 15% 15%;
  }

  .opened .bar-mid {
    opacity: 0;
  }
  .opened .bar-bot {
    transform: rotate(-45deg);
    transform-origin: 15% 95%;
  }
}
