$greet-text-font-size: 3rem;
$greet-line-height: 3.3rem;

$title-font-size: 1.75rem;
$text-font-size: 1rem;
$text-line-height: 1.5rem;
$light-font-weight: 200;
$after-text-margin: 15px;

$greet-book-btn-width: 300px;
$greet-book-btn-height: 60px;
$book-btn-width: 160px;
$book-btn-height: 50px;

$khaki-color: #52503B;
$orange-color: #E08631;
$dark-grey-color: #333333;
$beige-color: #FAF8F0;
$white-color: #ffffff;