.slider-container {
  position: relative;

  width: 100%;
}

.slick-slide > div {
  margin: 15px;

  height: 250px;
}

.slick-prev,
.slick-next {
  &::before {
    content: none;
  }
}

.reviews {
  .slick-prev,
  .slick-next {
    position: absolute;
    top: -40px;

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid $khaki-color;
      border-radius: 50%;
    }

    &:hover {
      &::before {
        background-color: $khaki-color;
      }
    }
  }

  .slick-prev {
    left: calc(100% - 110px);
  }

  .slick-next {
    left: calc(100% - 60px);
  }
}

.review-item {
  position: relative;
  padding: 15px;
  height: 100%;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  p {
    padding-top: 45px;
    padding-left: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 20px;
      background-image: url("/src/assets/images/quot.svg");
      width: 25px;
      height: 22px;
    }
  }
}
