.suburbs__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  gap: 20px;
}

@media screen and (max-width: $mobile-max-width) {
  .suburbs__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
