//Font-sizes
$greet-title-font-size: 100px;
$greet-text-font-size: 50px;
$greet-title-font-size-tablet: 75px;
$greet-text-font-size-tablet: 35px;
$greet-title-font-size-mobile: 40px;
$greet-text-font-size-mobile: 20px;

$font-size-link: 12px;
$font-size-body-16: 16px;
$font-size-body-18: 18px;
$font-size-subtitle: 30px;
$font-size-title: 35px;

$font-size-subtitle-mobile: 18px;
$font-size-title-mobile: 21px;

$line-height-body: 20px;

$light-font-weight: 200;

//Margin
$after-text-margin: 15px;
$after-text-margin-mobile: 15px;

// Colors
$khaki-color: #52503b;
$orange-color: #e08631;
$dark-grey-color: #333333;
$beige-color: #faf8f0;
$white-color: #ffffff;

// Adaptive screen widths
$mobile-max-width: 760px;
$tablet-max-width: 1023px;
$gallery-adaptive-max-width: 960px;
